<h1>Welcome to Premium Cars.com</h1>

<h2>Please choose a dealer from our list of dealers</h2>


<form action='/final' method='get'>
  <select name="dealerships">
    <option value="1">Jess Auto</option>
    <option value="2">Steve's Car Lot</option>
  </select>

    <p></p><button type="submit"> List Cars</button>
</form>
