<h1>Your Current Lists</h1>

<% if @lists.any?() %>

  <ul>
    <% @lists.each() do |list| %>
      <li><a href="/view_list/<%= list.id() %>"><%= list.name() %></a> </li>
    <% end %>
  </ul>

<% else %>

    <p>There are no lists yet!</p>

<% end %>
<br>
<h3> Add a new list? </h3>
<form action="/" method="post">
  <label for="weekday">What day of the week is your new list for? </label>
  <input id="weekday" name="weekday">
  <label for="date">What date is your new list for? </label>
  <input id="date" name="date">

  <button type="submit">Add New List</button>
</form>
