<h2>Your word was: <%= @find_word %></h2>
<h2>To be found in the phrase: "<%= @test_phrase %>"</h2>
<p><h2>Your word appeared <%= @word_count %> in the test phrase.</h2></p>
<button type = "submit" class = "btn-success"><a href="/">Try again?</a>
