<h1> Shipping Cost Calculator </h2>
<h2> Please enter the length, width, height, and weight of your package and the distance it will be traveling. </h2>
<h2> This program will calculate the cost of shipping your package.</h2>
<form action='/cost'>
  <div class='form-group'>
    <input id='length' name='length' class='form-control' type='String' placeholder='Length'>
    <input id='width' name='width' class='form-control' type='String' placeholder='Width'>
    <input id='height' name='height' class='form-control' type='String' placeholder='Height'>
    <input id='weight' name='weight' class='form-control' type='String' placeholder='Weight'>
    <input id='distance' name='distance' class='form-control' type='String' placeholder='Distance'>
  </div>
  <button type='submit' class='btn-success'>Submit</button>
</form>
