<h1>Welcome to the basic Scrabble Word Score Program</h1>
This scores a given word according to the Hasbro Scrabble Rules without board modifiers
<form action="/scrabble_score">
  <div class="form-group">
    <label for="scrabble_word"> What word would you like to score?</label>
    <input id="scrabble_word" name="scrabble_word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
