<%= @message %>
<h1>Choose an option or click on a word below</h1>


<form action='/' method='post'>
  <p>
  <select name='drop_choice'>
    <option value="1">Add a word</option>
    <option value="2">Delete a word</option>
    <option value="3">View all</option>
  </select>
  </p>
  <label for="word">If adding or deleting:</label>
  <input id="word" name="word" type="text" placeholder="word to add or delete">
  <p><button type='submit'>Next</button></p>
</form>

<h1>Currently known words:</h1>

<h3>Click on a word to see, or add, definitions.</h3>
<ol>
<% @words_only.sort.each() do |word| %>
  <% current_index = @words_only.find_index(word) %>
  <li>
    <a id="this_word" href="/display/<%= current_index %>"><%= word %></a>
  </li>
<% end %>
</ol>

<form action='/display' method='get'>
  <label for="word2">
</form>
