<h1>Triangle Determinator</h1>
<h2>Please enter 3 values for the sides of your triangle.</h2>
<h2>The program will determine what type of triangle you have</h2>
<h2>Use only numerical characters</h2>
<form action='/result'>
  <div class='form-group'>
    <input id='side_1' name='side_1' class='form-control' type='String' placeholder="Side 1">
    <input id='side_2' name='side_2' class='form-control' type='String' placeholder="Side 2">
    <input id='side_3' name='side_3' class='form-control' type='String' placeholder="Side 3">
  </div>
  <button type='submit' class='btn-success'>Submit</button>
</form>
