<!DOCTYPE html>
<html>
<head>
  <title>Shipping Cost Calculator</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
  <img src="img/parcel.png" alt="a parcel">
</body>

</html>
