<h3>Your tasks for <%= @weekday %>, <%= @date %></h3>

<p>Add a new task:</p>

<form action="/view_list/<%= @id %>" method="post">

  <label for="description">Task Description</label>
  <input id="description" name="description" type="text">

  <button type="submit">Add Task</button>
</form>

<h1>Current Tasks:</h1>
<% if @tasks.any?() %>
<ol>
  <% @tasks.each() do |task| %>
    <% if task.list_id = @id %>
      <li><%= task.description() %></li>
    <% end %>
  <% end %>
</ol>
<% end %>

<a href="/">Back</a>
