<h1>This could be your Address Book..... but it's MINE!</h1>

<h2>Please choose a contact below to view their information</h2>


<form action='/' method='get'>
  <select name="options">
    <option value="1">Add New Contact</option>
    <option value="2">See Existing Contact</option>
    <option value="3">See All Contacts</option>
  </select>
  <p></p><button type="submit"> Select Contact</button>
</form>
